<div class="containner w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center" >Sejam bem vindes ao meu blog! </h1>
        </div>
    </div>

    <div class="row  w-100 mt-4 mb-4">
        <div class="container">
            <div class="col-md-12">
                <p class="text-justify text-monospace">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nemo suscipit, soluta officiis quo, sequi veniam inventore delectus praesentium sunt quas nisi similique! Laudantium recusandae rem fugiat beatae animi. Ea?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis rerum nemo culpa hic officiis aspernatur accusantium libero, numquam voluptate est veritatis. Consectetur adipisci unde obcaecati exercitationem repudiandae amet voluptate similique.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cum beatae voluptas, vero tenetur atque repellat ad voluptatum natus totam nisi inventore ut accusamus aspernatur quam error doloremque sequi, deserunt odit.
                </p>
            </div>
        </div>
    </div>


    <div class="parallax" ></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
        </div>
    </div>

</div>
